{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <p>3e test branch cyril</p>
    This friendly message is coming from:
    <ul>

        <li>Your controller at <code><a href="{{ 'C:/Users/vretureau2021/PhpstormProjects/ProjectSortir/src/Controller/MainController.php'|file_link(0) }}">src/Controller/MainController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/vretureau2021/PhpstormProjects/ProjectSortir/templates/main/index.html.twig'|file_link(0) }}">templates/main/index.html.twig</a></code></li>
    </ul>
    <p>test pour creation branch et push github</p>
    <p>2e p detest</p>

</div>
{% endblock %}
