body {
    margin: 0;

    width: 100%;
}

/*----NAVBAR----*/
.navbar {
    background-color: #134A80;
    padding-left: 5%;
    padding-right: 5%;

}

.navbar-item h1 {
    font-size: 2em;
    color : white;
}

.navbar p{
    padding-right: 300px;
    font-size: 30px;

}
#navbarBasicExample .navbar-end .navbar-item {
    font-size: 1.2em;
    color : white;
    background-color:#134A80;
}

#navbarBasicExample .navbar-end .navbar-item:hover {
    font-size: 1.2em;
    color: #bf8a3d;
}

#navbarBasicExample .navbar-end p{
    color:white;
    font-size: 1.3em;
}

#navbarBasicExample .navbar-end .navbar-itemhey{
    color: #bf8a3d;
    font-size: 1.4em;
    padding-top: 2%;
    margin-right: 70%;

}
.navbar-burger{
    justify-content: space-between;
    color: white;
}
/*---FOOTER----*/
footer {
    background-color: #134A80;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;

}

footer p {
    text-align: center;
    color: white;
    padding-top: 1%;
}

/* ----RESPONSIVE---- */

.navbar{
    background-color:#134A80;
}
.navbar-item h1 {
    font-size: 1.5em;
}
.navbar-menu{
    background-color: #134A80;
}





#navbarBasicExample .navbar-end .navbar-itemhey{
    color:white;
    font-size: 1.3em;
    margin-left: 3.5%;

}

div input{
    border: none;
    border-radius: 7px;
    height: 38px;
    text-align: center;
}

footer p{
    padding-top: 4%;
}
















