

body {
    margin: 0;

    width: 100%;
}

/*----NAVBAR----*/
.navbar {
    background-color: #134A80;
}

.navbar-item h1 {
    font-size: 2em;
}

.navbar-item {
    font-size: 1.2em;
}

.navbar-burger{
    justify-content: space-between;
}


/*---FOOTER----*/
footer {
    background-color: #134A80;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}

footer p {
    text-align: center;
    color: white;
}

/* ----RESPONSIVE---- */

.navbar{
    background-color:#134A80;
}
.navbar-item h1 {
    font-size: 1.5em;
}













