.divreset {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(135, 206, 250, 0.1);
    box-shadow: 0 6px 20px -5px rgba(135, 206, 250, 0.15);
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 5%;
    margin-top: 5%;
    padding-bottom: 3%;
}

h1 {
    color: #efab53;
    font-size: 2.5em;
    margin-bottom: 6%;
    margin-top: 10%;
}

div small {

    font-size: 1.1em;
}

.checktext{
    margin-top: 5%;
    padding-top: 3%;
}

.checktext a{

}

input{
    width: 70%;
    height: 40px;
    border: none;
    outline: none;
    background: white;
    color: black;
    font-size: 1.3em;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 6px 20px -20px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: text;
    margin :5% 0 5% 0;
}

button {
    width: 70%;
    height: 50px;
    border: none;
    outline: none;
    background: #efab53;
    color: white;
    font-size: 1.4em;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
    position: relative;
    cursor: pointer;
    padding-bottom: 10px;
    margin-top: 6%;
}

/*RESPONSIVE*/
@media screen and (max-width: 640px) {
    .divreset {
        margin-left: 6%;
        margin-right: 6%;
    }

    button{
height: 20%;
        padding-top: 5px;
    }

    h1{
        font-size: 2em;
        padding-bottom: 10%;
    }
}
