/*.divdetail{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*    background-color: rgba(135,206,250,0.1);*/
/*    box-shadow: 0 6px 20px -5px rgba(135,206,250,0.15);*/
/*    !*margin-left: 35%;*!*/
/*    !*margin-right: 35%;*!*/
/*    !*margin-top: 8%;*!*/
/*    margin : 6% 35% 0 35%;*/
/*    color: black;*/
/*}*/

.columnprincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: justify-all;
}

.MonEvent{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding: 0 25px 20px 25px ;
    background-color: rgb(65, 65, 64, 0.75);
    border-radius: 30px;
}

.MesParticipants{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding-right: 5px;

}
.card {
    width: 300px;
    padding : 2vh 3vh 6vh 1vw;
    top: 0;
    margin-top: 2vh;
    max-height: 5vh;
    overflow: hidden;
    border-radius: 20px;
    background-color: rgba(65, 64, 64, 0.75);
    -webkit-box-shadow: 5px 11px 15px -4px rgba(0,0,0,0.39);
    box-shadow: 5px 11px 15px -4px rgba(0,0,0,0.39);
}

h1{
    color: rgb(208, 208, 208);
    font-size: 2em;
    margin-bottom: 4%;
    padding-top: 7%;
}

p{
    color: rgb(208, 208, 208);
    padding-bottom: 2%;
    font-size: 1.2em;

}

ul{
    list-style: none;
}

/* CSS */
.button-59 {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 3vh 0 0 1.5vw;
}

.button-59:focus {
    color: #171e29;
}

.button-59:hover {
    border-color: #3700ff;
    color: #3700ff;
    fill: #3700ff;
}

.button-59:active {
    border-color: #3700ff;
    color: #3700ff;
    fill: #3700ff;
}

/*RESPONSIVE*/
@media screen and (max-width: 640px) {
    .columnprincipal{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: rgba(135,206,250,0.1);
        box-shadow: 0 6px 20px -5px rgba(135,206,250,0.15);
        margin-left: 6%;
        margin-right: 6%;
        border-radius: 5%;
        margin-top: 1%;
    }
    .photo {
        display : none;
    }
    .card {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    .MesParticipants {
        background-color: #2c2c2c;
        border-radius: 25px;
        color: white;
        text-decoration: none;
        margin-bottom: 80px;
        text-align: left;
        padding-left: 80px;
        padding-bottom: 10px;
    }
}

